{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
  <div class="container pt-5 text-center">
    <h3>About Us</h3>
    <hr><br>
  </div>
  <div style="width: 50%;" class="container p-5">
    <p style="font-size: 1.2em;">Hello,</p>
    <p style="font-size: 1.2em;">
      &nbsp;&nbsp; First and for most, allow me to thank you for visiting
      The PeoplesLog.com. The PeoplesLog is a very simple and basic socail
      platform that will serve for two pruposes, first an example site for my
      portfolio, and second The PeoplesLog promises to never monitor, regulate,
      or restrict your right to speak your mind.  You will never find fact
      checkers on this site.   How ever calling for acts of violence are not
      leagally protected and any post, blog, or event that can be deemed a call
      for violence will result in the immediate removal of that user.
    </p>
    <p style="font-size: 1.2em;">
      &nbsp;&nbsp; With all the big tech companies cracking down on their users
      and stepping on the rights of the users, I think its important that people
      have a place to gather and freely share ideas with out fear of being
      "cancled".  As a platform provider I understand it is with in thier rights
      to requlate the service they provide, but this is what is legally right
      may not necessarily be morally right.  With that said I will no more
      restrict a user from sharing a post than make another read it.
    </p>
    <p style="font-size: 1.2em;">
      &nbsp;&nbsp; I hope that we can all make use of this new application I've
      created to have civil dicussions, and share ideas.  We all will recieve
      equal non bias treatment from the program an it creator.  Once again thank
      you for visiting, and I hope to see you on our Community Wall.
    </p>
  </div>
{% endblock %}
